body{
    background-image: url('bg.jpg') ;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
.header{
    font-weight: bold;
    color: rgb(34, 26, 151);
    font-family: 'Bubble Font', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
.btn{
    background: linear-gradient(to bottom, #f9a34b, #f97d2b);
    border: 2px solid brown;
    border-radius: 15px;
    color: white;
    font-family: 'Bubble Font', sans-serif;
    padding: 5px, 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 125px;
    font-size: large;
}

/* #main-menu
{
    background: #08ee3a;
} */